:root {
  /* Color */
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  /* Typography */
  --font-family-manrope: 'Manrope', sans-serif;
  --font-size-body: 13px;
}
