.button {
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonActive {
  background-color: var(--color-desaturated-dark-blue);
}